@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px) rotate(-1deg); }
  50% { transform: translateX(5px) rotate(1deg); }
  75% { transform: translateX(-5px) rotate(-1deg); }
  100% { transform: translateX(0); }
}

main article { 
  max-width: 660px;
  margin: 2.5rem auto;
}

.tabs {
  display: flex;
  /* background: var(--lch-light-grey); */
  overflow: auto;
  gap: 0.5rem;
  margin-top: 5%;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem;
}

.tabs li {
  text-wrap: nowrap;
}

.tabs button.selected {
  font-weight: 600;
  text-decoration: underline;
}

#services {
  border-top: none;
  padding: 0 2rem;
  max-width: 520px;
}

main h2 {
  font-size: clamp(1.6rem, 2.2vw, 3.5rem);
}

.services-item {
  display: flex;
  align-items: center;

  min-height: 16vh;

  margin-top: 1rem;

  background-image: 
    linear-gradient( 
      to right,
      var(--lch-white),
      var(--lch-light-grey)
    );

    border-radius: 0.75rem;
}

.services-item:hover, .services-item:active {
    animation: shake 0.5s ease-in-out;
    animation-iteration-count: 1;
}

.services-item a {
  display: flex;
  align-items: center;
  
  min-height: 7rem;

  padding-right: 1rem;
  padding-left: 2rem;

  font-size: 1rem;
}

.services-item img {
  flex: 1;
  min-width: 2.5rem;
}

.services-item p {
  flex: 6;
  
  margin: 0;
  padding-left: 2rem;

  text-align: left;
  font-size: clamp(1.3rem, 1.5vw, 3rem);
}

.services-item p:hover, .services-item p:active {
  color: var(--lch-hover);
}

.member {
  margin: 3rem;
}

.member:not(:first-of-type) {
  border-top: 1px solid var(--lch-light-grey);
}

.member h3 {
  font-weight: 750;
}

.profile-picture {
  width: 80%;
  border-radius: 10%;

  margin-bottom: 1rem;
}

.position {
  font-weight: 600;
  color: var(--lch-brand-red);
}

.about {
  font-style: italic;
  font-size: 85%;
}

.member h4 {
  text-align: left;
  font-weight: 450;
}

ol {
  list-style: none;
  padding: 0;
}

.workshops li {
  margin-bottom: 2rem;
}

.workshops div {
  font-size: 90%;
  font-weight: 500;
  text-align: left;
}

.workshops div::before {
  content: "•";
  margin-right: 0.2rem;
}

.workshops p {
  text-align: left;
  padding-left: 1rem;
  font-size: 80%;

  margin-top: 0.45rem;
}

.adress {
  margin-bottom: 2rem;
}

.adress p {
  font-weight: 500;
}

.btn.navigate {
  padding: 0.7rem;
}

/* .btn.navigate:hover, .btn.navigate:active {
  
} */

iframe {
  width: 100%;
  height: clamp(15rem, 80vw, 30rem);
}

.office-hours {
  width: 95%;
  border-collapse: collapse;
  margin: auto;

  font-family: "Montserrat", sans-serif;
  color: #444;
  font-size: 0.9rem;
}

.office-hours thead {
  text-align: center;
  font-size: 0.65rem;
}

.office-hours th:nth-child(1) {
  text-align-last: left;
}

.office-hours tr td {
  text-align: center;
}

.office-hours tr td:nth-child(1) {
  font-weight: bold;
  width: 33%;
  text-align-last: left;
}


table.office-hours tr td, thead {
  border-bottom: 1px solid #444;
}

#contact a:hover, #contact a:active,
.created:hover, .created:active {
  text-decoration: underline;
}

@media (min-width: 532px) {
  .btn.navigate {
    display: none;
  }
}

@media (min-width: 524px) {
  .tabs {
    justify-content: center;
  }
}