<div class="warning">
    <div class="warning-content">
        <div class="warning-header">
            <p><strong>Oznam!</strong></p>
            <p><strong>Zmena ordinačných hodín<br>(20.4. - 26.4.)</strong></p>
        </div>
        <p><strong>Po - Štv: ZATVORENÉ</strong></p>
        <p><strong>Piatok: 8:30 - 18:00</strong></p>
        <p><strong>Sobota: 9:00 - 14:00</strong></p>
        <p><strong>Nedeľa: 9:00 - 14:00</strong></p>
        <button class="btn-agree" type="button">Rozumiem</button>
    </div>
</div>